{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
  <title>Course Subscription WebApp</title>
</head>
<body>
 <header>
  <nav>
    <div class="container navbar">
      <a href="{% url 'courses:course_list' %}">Home</a>
    {% if user.is_authenticated %}
      <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
    </div>
  </nav>
 </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
