{% extends 'accounts/base.html' %}

{% block title %}login{% endblock title %}

{% block page_header %}

<div class="container">
    Please enter your username and password
</div>

{% endblock page_header %}


{% block page_content %}

<h2>Login</h2>
{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" required><br>
  <label for="password">Password:</label>
  <input type="password" name="password" required><br>
  <button type="submit">Login</button>
</form>

{% endblock page_content %}